@charset "utf-8";
body {
	background-color: #FFFFFF;
}


.jumbo{
	margin-top: -50px;
	margin-left: -10%;
	padding-top: 10px;
	width: 120%;
	background-color:#5599FF;
	position: relative;
	text-align: center;
	height: 200px;
	font-family: "Roboto Black";
	font-size: 40px;

}

.a2{
	margin: auto;
	width: 75%;
	background-color: #550F97;
	min-height: 200px;
	align-items: center;

}

.a3{
	align-self: auto;
	width: 33%;
	background-color: #550F97;
	min-height: 200px;
	margin: auto;
}
