@charset "utf-8";
body {
	background-color: #AAAAAA;
}

h2{
	font-size: 40px;
	font-family: monospace;
	margin-top: 80px;
	margin-left: 20px;
}

p{
	font-family: "Roboto";
	font-size: 20px;
}

.nootti{
	margin: auto;
	max-width: 75%
	width: 75%;
	background-color: #fffcc2;
	min-height: 200px;
	align-items: center;
	margin-top: 100px;
	min-height: 600px;
}

.input{
	width:50%;
	align-items: right;
	width 50%;
	float: left;
}

.info{

}

.data{

}
